<#include "plantilla.ftl" />

<#assign tituloReporteContent>Reporte Hola Mundo</#assign>

<@main_report tituloReporte=tituloReporteContent>
    <p>Hola Mundo! ${usuario.persona.nombres}</p>
    <img src="grafico1" style="width:100%" />
</@main_report>
