<#include "plantilla.ftl" />

<#assign tituloEmailContent>E-Mail Hola Mundo</#assign>

<@main_email tituloEmail=tituloEmailContent>
    <p>Hola Mundo! ${usuario.persona.nombres}</p>

    <img src='cid:image1.jpg' />
</@main_email>
